@font-face {
  /*RobotoFlex-VariableFont options: slnt,wdth,wght, opsz,GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,*/
  font-family: "RobotoFlex";
  src: url(RobotoFlex.ttf) format("truetype");
}
:root {
  --background: hsl(180, 86%, 92%);
  --color: hsl(180, 86%, 3%);
  --link: $primary;
  --secondary: hsl(157, 86%, 50%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: hsl(180, 86%, 3%);
    --color: hsl(180, 86%, 92%);
  }
}
body {
  font-family: "RobotoFlex";
  font-weight: 300;
  background-color: var(--background);
  color: var(--color);
  font-size: 2rem;
  line-height: 1.3em;
  padding: 0;
}

pre {
  border: solid 1px var(--color);
  padding: 1rem;
  background-color: black;
  max-width: 80vw;
  overflow: auto;
  max-height: 60vh;
  font-size: 1.3rem;
  line-height: 1.1em;
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: var(--link);
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  scroll-snap-type: y mandatory;
}
main section {
  scroll-snap-align: start;
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color);
  padding: 10vh 10vw;
}
main section h1 {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 0.9em;
  text-shadow: 0.06em 0.06em 0px #ED1F82, -0.06em -0.06em 0px #1FEDE0;
  text-align: center;
  margin-bottom: 2rem;
  font-variation-settings: "wght" 1000, "wdth" 50, "slnt" 0;
  transition: all 0.3s ease-in-out;
  cursor: zoom-in;
}
main section h1:hover {
  font-variation-settings: "wght" 300, "wdth" 100, "slnt" -90;
  text-shadow: 0.06em 0.06em 6px #ED1F82, -0.06em -0.06em 6px #1FEDE0;
}
main section::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
main section#parallax::after {
  background: url(../images/dark.jpeg) no-repeat center center;
  background-size: cover;
}
main section.no-parallax {
  background-color: var(--background);
  z-index: 999;
}

nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: sticky;
}
nav a {
  display: block;
  text-transform: uppercase;
  font-size: calc(10vw + 20vh);
  letter-spacing: 0.001em;
  font-variation-settings: "wght" 600, "wdth" 60;
  transition: all 0.5s ease;
  text-decoration: none;
}
nav a:hover {
  font-variation-settings: "wght" 800, "wdth" 30;
  transform: scale(1.2);
}
nav a:nth-child(1) {
  text-shadow: 0.03em 0.03em 0px #0b378e, -0.03em -0.03em 0px #719df4;
}
nav a:nth-child(1):hover {
  color: #125bed;
  text-shadow: 0.03em 0.03em 0px #07245f, -0.03em -0.03em 0px #a0bdf8;
  z-index: 1;
}
nav a:nth-child(2) {
  text-shadow: 0.03em 0.03em 0px #370b8e, -0.03em -0.03em 0px #9d71f4;
}
nav a:nth-child(2):hover {
  color: #5b12ed;
  text-shadow: 0.03em 0.03em 0px #24075f, -0.03em -0.03em 0px #bda0f8;
  z-index: 1;
}
nav a:nth-child(3) {
  text-shadow: 0.03em 0.03em 0px #8e0b8e, -0.03em -0.03em 0px #f471f4;
}
nav a:nth-child(3):hover {
  color: #ed12ed;
  text-shadow: 0.03em 0.03em 0px #5f075f, -0.03em -0.03em 0px #f8a0f8;
  z-index: 1;
}
nav a:nth-child(4) {
  text-shadow: 0.03em 0.03em 0px #8e0b37, -0.03em -0.03em 0px #f4719d;
}
nav a:nth-child(4):hover {
  color: #ed125b;
  text-shadow: 0.03em 0.03em 0px #5f0724, -0.03em -0.03em 0px #f8a0bd;
  z-index: 1;
}
nav a:nth-child(5) {
  text-shadow: 0.03em 0.03em 0px #8e370b, -0.03em -0.03em 0px #f49d71;
}
nav a:nth-child(5):hover {
  color: #ed5b12;
  text-shadow: 0.03em 0.03em 0px #5f2407, -0.03em -0.03em 0px #f8bda0;
  z-index: 1;
}
nav a:nth-child(6) {
  text-shadow: 0.03em 0.03em 0px #8e8e0b, -0.03em -0.03em 0px #f4f471;
}
nav a:nth-child(6):hover {
  color: #eded12;
  text-shadow: 0.03em 0.03em 0px #5f5f07, -0.03em -0.03em 0px #f8f8a0;
  z-index: 1;
}
nav a:nth-child(7) {
  text-shadow: 0.03em 0.03em 0px #378e0b, -0.03em -0.03em 0px #9df471;
}
nav a:nth-child(7):hover {
  color: #5bed12;
  text-shadow: 0.03em 0.03em 0px #245f07, -0.03em -0.03em 0px #bdf8a0;
  z-index: 1;
}
nav a:nth-child(8) {
  text-shadow: 0.03em 0.03em 0px #0b8e37, -0.03em -0.03em 0px #71f49d;
}
nav a:nth-child(8):hover {
  color: #12ed5b;
  text-shadow: 0.03em 0.03em 0px #075f24, -0.03em -0.03em 0px #a0f8bd;
  z-index: 1;
}
nav a:nth-child(9) {
  text-shadow: 0.03em 0.03em 0px #0b8e8e, -0.03em -0.03em 0px #71f4f4;
}
nav a:nth-child(9):hover {
  color: #12eded;
  text-shadow: 0.03em 0.03em 0px #075f5f, -0.03em -0.03em 0px #a0f8f8;
  z-index: 1;
}
nav a:nth-child(10) {
  text-shadow: 0.03em 0.03em 0px #0b378e, -0.03em -0.03em 0px #719df4;
}
nav a:nth-child(10):hover {
  color: #125bed;
  text-shadow: 0.03em 0.03em 0px #07245f, -0.03em -0.03em 0px #a0bdf8;
  z-index: 1;
}
nav.small {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  width: auto;
  z-index: 1000;
  gap: 0;
}
nav.small a {
  font-size: 4vw;
  line-height: 4vw;
}/*# sourceMappingURL=style.css.map */