header {
    nav {
        background: hsla(100, 50%, 80%, 1);
        ul {
            display: flex;
            li {
                list-style-type: none;
                a {
                    color: hsla(200, 50%, 30%, 1);
                    text-decoration: none;
                    padding: 1rem;
                    display: block;
                    transition: all 0.3s ease-in-out;
                    &.active {
                        background-color: red;
                    }
                    &:hover {
                        background: hsla(200, 50%, 80%, 1);
                    }
                }
            }
        }
    }
}

$colors:
    "primary"       hsla(100, 50%, 50%, 1),
    "secondary"     hsla(200, 50%, 50%, 1),
    "tertiary"      hsla(300, 50%, 50%, 1);

@each $name, $color in $colors {
    h1.#{$name} {
        color: $color;
    }
    a.btn.#{$name} {
        background-color: $color;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        color: #fff;
        &:hover {
            background-color: darken($color, 20%);
        }
        &.disabled {
            background-color: lighten($color, 40%);
            cursor: not-allowed;
        }
    }
}

.card {
    background-color: hsla(0, 0%, 100%, 1);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.1);
    padding: 1rem;
    margin: 1rem;
    h2 {
        font-size: 1.5rem;
        margin: 0;
    }
    p {
        margin: 0;
    }
    &.primary {
        background-color: hsla(100, 50%, 50%, 1);
        color: hsla(0, 0%, 100%, 1);
    }
    &.secondary {
        background-color: hsla(200, 50%, 50%, 1);
        color: hsla(0, 0%, 100%, 1);
    }
    &.tertiary {
        background-color: hsla(300, 50%, 50%, 1);
        color: hsla(0, 0%, 100%, 1);
    }
}