body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color:transparent;
    background-clip: text;
    background: transparent linear-gradient(104deg, #B000F0 0%, #AE01EF 0%, #5d7900 100%) 0% 0% no-repeat padding-box;
    background-size: 200% 200%;
    background-position: 0% 0%;
    -webkit-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background: transparent linear-gradient(104deg, #B000F0 0%, #AE01EF 0%, #797700 100%) 0% 0% no-repeat padding-box;
    animation: gradientmove 6s linear infinite;
    animation-direction: alternate;
}

@keyframes gradientmove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
}

.circle {
    width: 10vh;
    height: 10vh;
    background-color: hsl(200, 50%, 50%);
    border-radius: 50%;
    animation-name: zoom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        top: 0;
        left: 0;
    }
    33% {
        transform: scale(5);
        top: 90vh;
        left: 45vw;
        filter: blur(10px);
    }
    66% {
        transform: scale(1);
        top: 0vh;
        left: 90vw;
    }
    
}

.square {
    width: 30vh;
    height: 30vh;
    background-color: hsl(100, 50%, 50%);
    transition: transform 300ms ease-in-out;

}

.square:hover {
    transform: perspective(1000px) 
                rotateY(50deg) 
                skew(10deg, 10deg);
}